.skill-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-tree-title {
  font-size: 2.5rem;
  margin: 0 0 2em;
}

.skill-tree-node {
  text-align: center;
}

.skill-tree-node h3 {
  padding: .4rem;
  text-align: center;
  font-size: 18px;
  margin: .5em 0 0;
  background-color: rgba(0,0,0,0.4);
}

.skill-tree-trunk {
  margin-top: 2em;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-tree-bough {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.skill-tree-node__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
}

.skill-tree-title {
/*   max-width: 15ch; */
}

.skill-tree-branch {

}

.skill-tree-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}