.skill-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-tree-title {
  margin: 1.25em 0 2em;
}

.skill-tree-node {
  text-align: center;
  width: 10em;
}

.skill-tree-node h3 {
  text-align: center;
  font-size: 16px;
  margin: .5em 0 0;
}

.skill-tree-trunk {
  margin-top: 2em;
  padding: 0 3.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-tree-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}